.users {
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 30px 30px 0 30px;

  .headers-wrapper {
    display: flex;
    margin-bottom: 30px;
    .user-header {
      display: flex;
      align-items: flex-end;
      gap: 10px;
      span {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: #545f7d;
      }
    }
  }

  .user-info {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #545f7d;
      text-align: left;
    }

    .icon {
      margin-left: auto;
    }
  }

  .organization {
    width: 190px;
  }

  .username {
    width: 140px;
  }

  .email {
    width: 190px;
  }

  .number {
    width: 140px;
  }
  .dateJoined {
    width: 140px;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .left {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;

      color: #545f7d;
    }

    .pag {
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      padding: 7px 12px;

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $secondaryColor;
        padding-right: 20px;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;
    p {
      padding: 0;
      color: #545f7d;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      opacity: 0.6;
    }

    svg path {
      fill: $secondaryColor;
    }

    .next-btn,
    .prev-btn {
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      padding: 7px;
    }
  }
}
