@mixin container() {
 @content;
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;

  @media screen and (max-width: 835px) {
    padding: 0 50px;
  }

  @media screen and (max-width: 435px) {
    padding: 0 25px;
  }
}

@mixin media($size){
  @media screen and (max-width: $size) {
    @content
  }
}
