
//Reuse
@import './variable.scss';
@import './mixin.scss';

//Components
@import '../../components/navbar/navbar';
@import '../../components/sidebar/sidebar';
@import '../../components/info/info';
@import '../../components/userwrapper/user-container';
@import '../../components/filters/filter';
@import '../../components/menu/menu';


//Pages
@import '../../pages/login/login';
@import '../../pages/dashboard/dashboard';
@import '../../pages/loading/loading';


*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:$avenir, $workSans;
}

